@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@theme {
  --background-image-btn-gradient: linear-gradient(to right, #ff6f00, #e61203);
  --color-candy-red: #ff0800;
  --color-platinum: #e2e2e2;
  --font-Inter: "Inter", ui-sans-serif, system-ui;
  --font-Abhaya: "Abhaya Libre Medium";
  --font-weight-heavy: 500;
  --font-size-lg: 24px;
  --font-Asap: "Asap";
  --font-weight-light: 300;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --color-border-light: #cdcdcd;
  --color-border-lighter: #bababa;
  --color-primary: #ededed;
  --color-dark: #000000;
  --shadow-lg: 4px 4px 12px 4px rgba(252, 101, 0, 0.8);
  --shadow-inner-md: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --z-index-primary: 10;
  --z-index-primary: 1000;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 20px;
  --radius-card: 16px;
  --spacing-sm: 2;
  --spacing-md: 4;
  --spacing-lg: 8;
}
